[submodule "SubModules/AFNetworking"]
	path = SubModules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "SubModules/Reachability"]
	path = SubModules/Reachability
	url = https://github.com/tonymillion/Reachability.git
[submodule "SubModules/FlipboardNavigationController"]
	path = SubModules/FlipboardNavigationController
	url = https://github.com/michaelhenry/FlipBoardNavigationController.git
[submodule "SubModules/MHNatGeoViewControllerTransition"]
	path = SubModules/MHNatGeoViewControllerTransition
	url = https://github.com/michaelhenry/MHNatGeoViewControllerTransition.git
[submodule "SubModules/MHFacebookImageViewer"]
	path = SubModules/MHFacebookImageViewer
	url = https://github.com/michaelhenry/MHFacebookImageViewer.git
[submodule "SubModules/MHProgressView"]
	path = SubModules/MHProgressView
	url = https://github.com/michaelhenry/MHProgressView.git
[submodule "SubModules/MPFlipViewController"]
	path = SubModules/MPFlipViewController
	url = https://github.com/mpospese/MPFlipViewController.git
[submodule "SubModules/GTMNSString-HTML"]
	path = SubModules/GTMNSString-HTML
url=https://github.com/michaelhenry/GTMNSString-HTML.git
[submodule "SubModules/SDURLCache"]
	path = SubModules/SDURLCache
	url = https://github.com/steipete/SDURLCache.git
