[submodule "SubModules/AFNetworking"]
	path = SubModules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "SubModules/Reachability"]
	path = SubModules/Reachability
	url = https://github.com/tonymillion/Reachability.git
[submodule "SubModules/FlipboardNavigationController"]
	path = SubModules/FlipboardNavigationController
	url = https://github.com/michaelhenry/FlipBoardNavigationController.git
[submodule "SubModules/MHNatGeoViewControllerTransition"]
	path = SubModules/MHNatGeoViewControllerTransition
	url = https://github.com/michaelhenry/MHNatGeoViewControllerTransition.git
[submodule "SubModules/MHFacebookImageViewer"]
	path = SubModules/MHFacebookImageViewer
	url = https://github.com/michaelhenry/MHFacebookImageViewer.git
